<div class="end_navbar">
    <a href="index.html"><img src="images/home.png" alt="Home"></a>
    <a href="https://twitter.com/carlhumancrab"><img src="images/twitter.png" alt="Twitter"></a>
    <a href="https://www.tumblr.com/blog/carlandthehumancrab"><img src="images/tumblr.png" alt="Tumblr"></a>
</div>
