<div class="navbar">
    <a href="index.html">Home</a>
    
    <div class="dropdown" id="sexuality">
        <button class="dropbtn" id="sex">Sexuality
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content" id="sdc">
            <a href="sexuality.html">Overview</a>
            <a href="gay.html">Gay</a>
            <a href="bisexual.html">Bisexual</a>
            <a href="pansexual.html">Pansexual</a>
            <a href="asexual.html">Asexual</a>
            <a href="demisexual.html">Demisexual</a>
        </div>
    </div>
    <div class="dropdown" id="romantic">
        <button class="dropbtn" id="rom">Romanticality
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content" id="rdc">
            <a href="romantic.html">Overview</a>
            <a href="homoromantic.html">Homoromantic</a>
            <a href="het.html">Heteroromantic</a>
            <a href="biromantic.html">Biromantic</a>
            <a href="aromantic.html">Aromantic</a>
        </div>
    </div>
    <div class="dropdown" id="gender">
        <button class="dropbtn" id="gen">Gender
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content" id="gdc">
            <a href="gender.html">Overview</a>
            <a href="transgender.html">Transgender</a>
            <a href="nonbinary.html">Non Binary</a>
            <a href="transitioning.html">FtM Transition</a>
            <a href="transitioning.html">MtF Transition</a>
        </div>
    </div>
    <div class="dropdown" id="representation">
        <button class="dropbtn" id="rep">Representation
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content" id="repdc">
            <a href="books.html">Books</a>
            <a href="movies.html">Movies</a>
            <a href="tv.html">Tv Shows</a>
        </div>
    </div>
    
    <a href="contact.html">Contact</a>
</div>
