/*Index page formatting*/
.background
{
    border: 0;
    text-align: center;
    display:block;
    margin:0;
    padding-top: 1%;
    padding-bottom:1%;
}
#index p
{
  font-size: 18px;
}
body
{
    background-color: #ffedde;
}
h1, h2, p, h3
{
    margin: 0;
    padding-bottom: 1%;
}
html, body
{
    height: 100%
}

#red
{
    background-color: red;
    min-height: 150px;
    height: 16.7%;
}

#orange
{
    background-color: orange;
    height:16.7%;
}
#orange p
{
  font-size: 20px;
  padding: 1%;
}
#yellow
{
    background-color: yellow;
    height:16.7%;
}

#yellow a
{
    display: inline;
    padding-left: 5%;
    text-align: center;
    color: black
}
#green
{
    background-color: #008018;
    height:16.7%;
}
#green a
{
    display:inline;
    padding-left: 5%;
    text-align: center;
    color: black
}

#blue
{
    background-color: #0000F9;
    height:16.7%;
}

#blue a
{
    display:inline;
    padding-left: 5%;
    text-align: center;
    color: black
}

#purple
{
    background-color: purple;
    height:16.7%;
}

body
{
    margin:0;
}

a
{
    color: black;
}
/*Nav Bar*/
.navbar {
  margin-top: 1%;
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
#sex:hover {
  background-color: red;
}
/* Add a red background color to navbar links on hover */
#rom:hover {
    background-color: red;
  }
/* Add a red background color to navbar links on hover */
#gen:hover {
    background-color: red;
  }
  /* Add a red background color to navbar links on hover */
  #rep:hover {
      background-color: red;
    }

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
#sexuality:hover #sdc {
  display: block;
} 

/* Show the dropdown menu on hover */
#romantic:hover #rdc {
    display: block;
  } 

/* Show the dropdown menu on hover */
#gender:hover #gdc {
    display: block;
  } 
  
  /* Show the dropdown menu on hover */
  #representation:hover #repdc {
      display: block;
    } 
/*Sexuality formatting*/
.moreInfo
{
    padding-top: 5%;
    text-align: center;
}
.moreInfo a
{
  padding-left: 2.5%;
}
.moreInfo p
{
  font-size: 18px;
}
.supportSex p
{
    padding-top: 1%;
    text-align: center;
}
.supportSex
{
    padding-top: 2.5%;
}
.sexuality
{
    padding-top: 1%;
}
.sexuality p
{
    padding-top: 1%;
    text-align: center;
}
/*Transitioning*/
#transitioning
{
  padding:1%;
}







/*Nav bar overlay*/
#navbar
{
  padding:0%;
}


 /* The switch - the box around the slider */
 .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 


.end_navbar img
{
  padding-left: 2%;
}


/*Books*/
.info
{
  display: none;
}
.simonBtn:hover .info
{
  display:block;
}

.contactLinks
{
  padding-top:10%;
  align-items: center;
}

.contactLinks a
{
  padding:10%

}